In [1]:
from datetime import datetime
import calendar
import pandas as pd

In [2]:
df = pd.read_csv('clean_data.csv')

In [3]:
df.dtypes

date            object
energy         float64
time_hours       int64
time_period     object
moth            object
dtype: object

In [4]:
df.head()

         date  energy  time_hours time_period      moth
0  2014-03-24   0.384           3          PM     March
1  2014-08-15   1.201           5          AM    August
2  2014-03-20   1.523           8          PM     March
3  2014-04-23   0.424           6          PM     April
4  2014-12-19   0.209           1          AM  December

In [5]:
df.shape

(8760, 5)

## What is your average hourly electricity usage?

In [12]:
energy_average = round(df['energy'].mean(), 3) * 100
print(f"The average hourly electricity usage is {energy_average} kwh")

The average hourly electricity usage is 78.2 kwh

## What is your average electricity usage per hour in February?

In [14]:
february_df = df[df['moth'] == "February"]

In [15]:
february_df.head()

          date  energy  time_hours time_period      moth
10  2014-02-11   0.509           4          PM  February
14  2014-02-04   0.283           3          AM  February
22  2014-02-11   0.547           1          PM  February
56  2014-02-13   0.432           1          PM  February
59  2014-02-13   0.594          12          PM  February

In [16]:
energy_average = round(february_df['energy'].mean(), 3) * 100
print(f"The average hourly electricity usage is {energy_average} kwh")

The average hourly electricity usage is 83.3 kwh

## Which day of the week has the highest average usage?

In [17]:
def get_weekday_name(date_string):
    weekday_number = pd.to_datetime(date_string).weekday()
    weekday_name = calendar.day_name[weekday_number]
    return weekday_name

In [18]:
df['weekday'] = df['date'].apply(get_weekday_name)

In [19]:
df.head()

         date  energy  time_hours time_period      moth    weekday
0  2014-03-24   0.384           3          PM     March     Monday
1  2014-08-15   1.201           5          AM    August     Friday
2  2014-03-20   1.523           8          PM     March   Thursday
3  2014-04-23   0.424           6          PM     April  Wednesday
4  2014-12-19   0.209           1          AM  December     Friday

In [20]:
days_and_energies = df.groupby('weekday')['energy'].mean().to_dict()
highest_energy_day = max(days_and_energies, key=days_and_energies.get)

In [21]:
"The highest average usagehighest_energy_day)

'Sunday'